*{
    font-family: Verdana;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(245, 245, 245);
}
section{
    position: relative;
    height: 660px;
    left: 40px;
    float: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(180, 219, 192);
    align-content: space-around;
    justify-content: space-evenly;
}
article{
    padding: 5px;
    margin: 5px;
   
}

hr{
   width: 70%;
   margin-left: 20px;
   opacity: 0.5;
}
ul{
    list-style: none;
    padding: 3px;
}
li{
    padding: 3px;
}
img{
    height: 300px;
}
aside{
    float: right;
    position: relative;
    right: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}
.d1,.d2{
    padding:5px;
    margin-bottom: 10px;
    background-color:white;
}
.block1,.block2,.block3{
 padding:10px;
 margin:10px;
}
footer{
    clear: both;
    color: white;
    height: 80px;
    background-color:black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-around;
}
i{
    font-size: 15px;
    color: rgb(58, 148, 133);
}
div > i{
    color: white;
}

@media (max-width:980px){
    section{
        height: 700px;
        
    }
}
@media (max-width:866px) {
    section{
        height: 550px;
        width: 35%;
        float: left;
        position: relative;
        left: 40px;
        font-size: 10px;
        justify-content: space-between;
        align-content:flex-start ;
    }
    aside{ 
        width: 50%;
        font-size: 10px;
        position: relative;
        right: 40px;
   
    }
    img{
        width: 100%;
        height: 150px;
        
    }
}
@media (max-width:575px){
    section{
        height: fit-content;
        width: 45%;
        float: left;
        position: relative;
        left: 5px;
        font-size: 10px;
    }
    aside{ 
        width: 50%;
        font-size: 10px;
        position: relative;
        right: 5px;
   
    }
    img{
        width: 100%;
        height: 150px;
        
    }
    i{
        font-size: 10px;
       
    }
}
@media (max-width:326px){
   section,aside,footer{
       font-size: 8px;
   }
    img{
        width: 100%;
        height: 100px;
        
    }
    i{
        font-size: 6px;
       
    }
}
